#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(37, 150, 146);
  padding-top: 30px;
  padding-bottom: 30px;
}

.calculator {
  max-width: 320px;
  margin: 0 auto;
}
.heading {
  border-radius: 12px 12px 0 0;
  background-color: rgb(39, 94, 146);
  font-weight: bold;
  color: white;
  padding-left: 4px;
}

.calculator input {
  background: rgb(39, 94, 146);
  border: none;
  box-shadow: none;
  width: 100%;
  padding: 10px;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
input:focus {
  outline: none;
}

.calculator-buttons {
  border-radius: 0 0 12px 12px;
  background: #a5becc;
  padding: 13px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 10px;
}
.calc-button {
  background: rgb(91, 41, 206);
  border: 0.5px solid rgb(43, 42, 42);
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  border-radius: 60%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.is-reset {
  border-radius: 10px;
  grid-column: span 2;
  background: rgb(224, 79, 79);
}

.is-equals {
  grid-column: span 2;
  color: black;
  background: #c6dce4;
  border-radius: 10px;
}

.is-del {
  background: rgb(179, 11, 142);
}

.heading-calc {
  white-space: nowrap;
  background-color: inherit;
}
